body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  margin: 40px 40px 40px 90px;
  color: #222;
  user-select: none;
  cursor: default;
}
li {
  color: #444;
}
a {
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111;
    color: #ddd;
  }
  li {
    color: #bbb;
  }
}

h1 {
  margin: 0;
  font-size: xx-large;
}
li {
  margin: 20px 0 0 0;
  font-size: large;
  list-style: none;
}

h1,
li {
  position: relative;
}
h1::before,
li::before {
  position: absolute;
  right: 100%;
  top: 50%;
  margin-right: 15px;
  transform: translateY(-50%);
}
h1::before {
  content: '✌️';
  margin-right: 8px;
}
h1.shrug::before {
  content: '🤷';
}
li:nth-of-type(1)::before {
  content: '📧';
}
li:nth-of-type(2)::before {
  content: '💬';
}
li:nth-of-type(3)::before {
  content: '📷';
}
li:nth-of-type(4)::before {
  content: '🚴‍♂️';
}

@keyframes shake {
  46%,
  48%,
  50%,
  52%,
  54% {
    rotate: 0deg
  }
  47% {
    rotate: 3deg;
  }
  49% {
    rotate: -6deg;
  }
  51% {
    rotate: 6deg;
  }
  53% {
    rotate: -3deg;
  }
}
@media not screen and (prefers-reduced-motion) {
  h1::before {
    animation: shake 9s infinite;
  }
}